.card {
    max-width: 45 rem;
    padding: 3rem 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .imageContainer {
         
        img {
            width: 8 rem;
            height: 8 remm;
        }
    }

    .upContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    table {
        padding: 3rem 0;
        width: 100%;

        th, td {
            padding: 0.75rem 1rem;
            border-bottom: 1px solid var(--gray-100);
        }

        th {
            color: var(--gray-200);
            text-transform: uppercase;
            font: 500 0.75rem Lexend, sans-serif;
            text-align: left;
        }

        td {
            font-size: 0.875rem;
        }

        img {
            width: 6rem;
            height: 8rem;
           
        }

        a{
            color: var(--gray-800);
            font-family: Lexend, sans-serif;
            font-weight: 600;
            text-decoration: none;
            line-height: 1.4rem;
            font-size: 0.7rem;

        }
    }

    
}