.card {
    max-width: 45 rem;
    padding: 3rem 2rem;
    margin: 0 auto;

    .imageContainer {
         
        img {
            width: 8 rem;
            height: 8 remm;
        }
    }

    .upContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    
}